.hiddenScrollbar {
  display: flex;
  flex: 1;
  justify-content: center;
  overflow-y: scroll;
  scrollbar-width: auto;
  scrollbar-color: transparent transparent;
}

.hiddenScrollbar::-webkit-scrollbar {
  width: 12px;
}

.hiddenScrollbar::-webkit-scrollbar-thumb {
  background: transparent;
}

.hiddenScrollbar::-webkit-scrollbar-track {
  background: transparent;
}
